<?xml version="1.0" encoding="UTF-8"?>
<!--
	  Mapper 인터페이스를 이용하는 또 다른 장점은 기존의 XML 을
	   그대로 사용할 수 있음.
	   이때 두가지 규칙이 있음.
	   1. Mapper 인터페이스 이름과 XML Mapper 의 네임스페이스를 반드시
		  일치시킬 것.
	   2. Mapper 인터페이스의 메서드 이름과 XML 의 id 를 반드시 일치시킴.
	   root-context.xml :: sqlSessionFactory 에 매퍼 xml 파일의 경로를 인식하게 함.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.edu.dao.IF_BoardDAO">
	<!-- 공통사용 검색쿼리 -->
	<sql id="sqlWhere">
		<if test="searchType !=null">
			AND (
			title LIKE CONCAT('%',#{searchKeyword},'%')
			OR
			content LIKE CONCAT('%',#{searchKeyword},'%')
			OR
			writer LIKE CONCAT('%',#{searchKeyword},'%')
			)
		</if>
	</sql>
	<insert id="insertBoard">
		insert into tbl_board (title,content,writer,regdate,view_count,reply_count) 
		values (#{title},#{content},#{writer},now(),#{view_count},#{reply_count}) 
	</insert>
	<select id="selectBoard" resultType="org.edu.vo.BoardVO">
		SELECT * FROM tbl_board 
		WHERE 1 = 1
		<include refid="sqlWhere"></include>
		ORDER BY bno DESC
		LIMIT #{startNo}, #{perPageNum} 
	</select>
	<select id="countBno" resultType="int">
		select count(*) from tbl_board
		where 1 = 1
		<include refid="sqlWhere"></include>
	</select>
	<update id="updateBoard">
		update tbl_board set
		title = #{title},
		content = #{content},
		writer = #{writer},
		update_date = now(),
		view_count = #{view_count},
		reply_count = #{reply_count}
		where bno = #{bno}
	</update>
	<delete id="deleteBoard">
		delete from tbl_board where bno = #{bno}
	</delete>
	<select id="viewBoard" resultType="org.edu.vo.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	<update id="updateViewCount">
		update tbl_board set
		view_count = view_count + 1
		where bno = #{bno}
	</update>
	<!-- 첨부파일 MySQL용 
	<insert id="insertAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname},LAST_INSERT_ID())
	</insert>
	-->
	<!-- 첨부파일 HSql용 -->
	<insert id="insertAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname}, (select top 1 bno from tbl_board order by bno desc) )
	</insert>
	
	<select id="selectAttach" resultType="string">
	select full_name from tbl_attach where bno = #{bno} order by regdate
	</select>
	<delete id="deleteAttach">
	delete from tbl_attach where bno = #{bno}
	</delete>
	<insert id="updateAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname}, #{bno})
	</insert>
</mapper>