<?xml version="1.0" encoding="UTF-8"?>
<!--
	  Mapper 인터페이스를 이용하는 또 다른 장점은 기존의 XML 을
	   그대로 사용할 수 있음.
	   이때 두가지 규칙이 있음.
	   1. Mapper 인터페이스 이름과 XML Mapper 의 네임스페이스를 반드시
		  일치시킬 것.
	   2. Mapper 인터페이스의 메서드 이름과 XML 의 id 를 반드시 일치시킴.
	   root-context.xml :: sqlSessionFactory 에 매퍼 xml 파일의 경로를 인식하게 함.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.edu.dao.IF_BoardDAO">
	<!-- 게시판과 연관된 댓글 삭제 -->
	<delete id="deleteBoardReply">
		delete from tbl_reply where bno = #{bno}
	</delete>
	<!-- 공통사용 검색쿼리 -->
	<sql id="sqlWhere">
		<if test="searchType !=null">
			AND (
			title LIKE '%'||#{searchKeyword}||'%'
			OR
			content LIKE '%'||#{searchKeyword}||'%'
			OR
			writer LIKE '%'||#{searchKeyword}||'%'
			)
		</if>
		<if test="searchBoard !=null and !searchBoard.equals('')">
			AND (
			bod_type = #{searchBoard}
			)
		</if>
	</sql>
	<!-- mybatis 오라클용 추가 -->
	<!-- 속성중에 order는 insert 이전 이후 구분하는 역할 --> 
	<insert id="insertBoard">
		<selectKey keyProperty="bno" resultType="int" order="BEFORE">
			SELECT SEQ_BNO.nextval FROM DUAL
		</selectKey>
		insert into tbl_board (bno,title,content,writer,regdate,view_count,reply_count,bod_type) 
		values (#{bno},#{title},#{content},#{writer},sysdate,#{view_count},#{reply_count},#{bod_type}) 
	</insert>
	<select id="selectBoard" resultType="org.edu.vo.BoardVO">
		<![CDATA[
		SELECT T_Z.*
		FROM
		    (
		    SELECT ROWNUM AS RNUM, T_A.*
		    FROM
		        (SELECT * FROM TBL_BOARD 
		        WHERE 1 = 1
		]]>
		        <include refid="sqlWhere"></include>
		<![CDATA[
		        ORDER BY BNO DESC
		        ) T_A
		    WHERE ROWNUM <= (#{startNo}/#{perPageNum}+1) * #{perPageNum}
		    ) T_Z
		 WHERE
		    T_Z.RNUM > (#{startNo}/#{perPageNum}) * #{perPageNum}
		]]>
	</select>
	<select id="countBno" resultType="int">
		select count(*) from tbl_board
		where 1 = 1
		<include refid="sqlWhere"></include>
	</select>
	<update id="updateBoard">
		update tbl_board set
		title = #{title},
		content = #{content},
		writer = #{writer},
		update_date = sysdate,
		view_count = #{view_count},
		reply_count = #{reply_count},
		bod_type = #{bod_type}
		where bno = #{bno}
	</update>
	<delete id="deleteBoard">
		delete from tbl_board where bno = #{bno}
	</delete>
	<select id="viewBoard" resultType="org.edu.vo.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	<update id="updateViewCount">
		update tbl_board set
		view_count = view_count + 1
		where bno = #{bno}
	</update>
	<!-- 첨부파일 MySQL용 
	<insert id="insertAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname},LAST_INSERT_ID())
	</insert>
	-->
	<!-- 첨부파일 HSql용 
	<insert id="insertAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname}, (select top 1 bno from tbl_board order by bno desc) )
	</insert>
	-->
	<!-- 첨부파일 Oracle용 에서 사용되는 최근게시물 번호 -->
	<select id="selectTopBno" resultType="int">
		select bno from (
		    select bno from tbl_board order by bno desc
		) T_A
		where ROWNUM = 1
	</select>
	<!-- 첨부파일 Oracle용 -->
	<insert id="insertAttach">
		insert into tbl_attach(full_name, bno) values (#{fullname}, #{bno})
	</insert>
	
	<select id="selectAttach" resultType="string">
	select full_name from tbl_attach where bno = #{bno} order by regdate
	</select>
	<delete id="deleteAttach">
	delete from tbl_attach where bno = #{bno}
	</delete>
	<insert id="updateAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname}, #{bno})
	</insert>
	<!-- 게시판 생성(아래) -->
	<select id="viewBoardType" resultType="org.edu.vo.BoardTypeVO">
		select * from tbl_board_type where bod_type = #{bod_type}
	</select>
	<select id="selectBoardType" resultType="org.edu.vo.BoardTypeVO">
		select * from tbl_board_type order by bod_sun asc
	</select>
	<insert id="insertBoardType">
		insert into tbl_board_type(bod_type, bod_name, bod_sun) values (#{bod_type}, #{bod_name}, #{bod_sun})
	</insert>
	<update id="updateBoardType">
		update tbl_board_type set
		bod_name = #{bod_name},
		bod_sun = #{bod_sun}
		where bod_type = #{bod_type}
	</update>
	<delete id="deleteBoardType">
		delete from tbl_board_type where bod_type = #{bod_type}
	</delete>
	
</mapper>