<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.edu.dao.IF_ReplyDAO">
	<select id="selectReply" resultType="org.edu.vo.ReplyVO">
		select * from tbl_reply where bno = #{bno} 
		order by regdate desc
		limit #{pageVO.startNo} , #{pageVO.perPageNum}
	</select>
	<select id="countRno" resultType="int">
		select count(*) from tbl_reply where bno = #{bno}
	</select>
	<insert id="insertReply">
		insert into tbl_reply (
			bno, replytext, replyer, regdate
		) values (
			#{bno}, #{replytext}, #{replyer}, now()
		)
	</insert>
	<update id="updateReply">
		update tbl_reply set
		replytext = #{replytext},
		update_date = now()
		where rno = #{rno}
	</update>
	<delete id="deleteReply">
		delete from tbl_reply where rno = #{rno}
	</delete>
</mapper>